In [21]:
--1. Feladat
SELECT TIPUS as tipus, Round(AVG(CSILLAGOK_SZAMA),0) as Átalgos  --sum(CSILLAGOK_SZAMA)/COUNT(*) valamiert mindig 3-asnak számolja mikor 3,5-nek kelle lennie, egyik sem mukodott
FROM szallashely
WHERE TIPUS not like '%panzió%'
GROUP BY TIPUS
HAVING Round(AVG(CSILLAGOK_SZAMA),0)>3

In [22]:
--2. Feladat
SELECT szall.Szallas_nev,szob.FEROHELY, szob.KLIMAS, szob.POTAGY, szob.SZALLAS_FK, szob.SZOBA_ID, szob.SZOBA_SZAMA, IIF(szall.TIPUS='panzió','igen','nem')
FROM szoba szob JOIN szallashely szall ON szob.SZALLAS_FK = szall.SZALLAS_ID
                JOIN Foglalas fog ON szob.SZOBA_ID = fog.SZOBA_FK
WHERE szob.SZOBA_ID <> fog.SZOBA_FK --nem tudom, hogy mit jelent hogy nincsen foglalas, ha nincsen benne a szoba id a foglalas tablaban??
--WHERE szob.SZOBA_ID not IN fog.SZOBA_FK